
element.style {
}
body {
    overflow-x: hidden;
}

body {
    font-family: 'Inter Tight', sans-serif;
}
body {
    background-color: #FCF7FF;
}
html, body {
    height: auto;
    min-height: 100vh;
}
body {
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
    color: #232323;
    position: relative;
}
body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --background: #FCF7FF;
    --background-900: #F1E4F9;
    --background-800: #E6CDF5;
    --background-700: #DBB5F1;
    --background-600: #CA90EA;
    --background-dark: #190C1F;
    --background-dark-900: #281630;
    --background-dark-800: #40264C;
    --background-dark-700: #583667;
    --background-dark-600: #704684;
    --dominant-color: #E0AAFF;
    --dominant-dark-color: #3F274D;
    --dominant-darken-color: #AD7ACC;
    --dominant-light-color: #EEDBEE;
    --dominant-lighten-color: #FFDCFF;
    --primary-color: #433d47;
    --primary-dark-color: #392952;
    --primary-darken-color: #140040;
    --primary-light-color: #ECDBEF;
    --primary-lighten-color: #6C389B;
    --secondary-color: #7B2CBF;
    --secondary-dark-color: #403059;
    --secondary-darken-color: #47008E;
    --secondary-light-color: #E6D3E5;
    --secondary-lighten-color: #AF5DF3;
    --success-color: #20AC6B;
    --success-dark-color: #1E421F;
    --success-darken-color: #007C3F;
    --success-light-color: #D2EADB;
    --success-lighten-color: #60DF9A;
    --danger-color: #AE1E2C;
    --danger-dark-color: #5B2A24;
    --danger-darken-color: #770003;
    --danger-light-color: #E0C4C2;
    --danger-lighten-color: #E65555;
    --warning-color: #CC9900;
    --warning-dark-color: #50280A;
    --warning-darken-color: #966B00;
    --warning-light-color: #E9E3CB;
    --warning-lighten-color: #FFC945;
    --info-color: #0AA3C2;
    --info-dark-color: #023E59;
    --info-darken-color: #007492;
    --info-light-color: #CFEDED;
    --info-lighten-color: #5ED4F5;
    --background-text: #000000;
    --background-900-text: #000000;
    --background-800-text: #000000;
    --background-700-text: #000000;
    --background-600-text: #000000;
Show all properties (45 more)
}
:root {
    --animate-duration: 0.4s;
    --animate-delay: 0.1s;
    --animate-repeat: 1;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}   